* {
  scroll-behavior: smooth;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas#experience-app {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background-color: #1e1a20;
}
