{
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
	"root": true,
	"env": {
		"browser": true,
		"es2021": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"overrides": [],
	"rules": {
		"quotes": ["error", "double"],
		"semi": ["error", "always"],
		"eqeqeq": "error",
		"@typescript-eslint/no-this-alias": "off"
	},
	"ignorePatterns": ["node_modules", "**/__tests__/*", "*.config.js", "lib"]
}
