// This configuration only applies to the package manager root.
{
	extends: ["@quick-threejs/config/eslint.mjs"],
	root: true,
	parserOptions: {
		project: true
	},
	ignorePatterns: ["packages/**", "shared/**"]
};
