# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
!.env.example

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
dist-ssr
lib
.react-router

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.vscode/*
!.vscode/extensions.json
.DS_Store
.idea
*.pem
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
